img{
    width: 100%;
    height: 100%;
}

.row{
    height: 400px;
    display: flex;
    gap: 5px;
    margin-bottom: 5px;
    flex-grow: 1;
}
.row div{
    flex: 1;
}
.two-image{
    height: 50%;
}
